@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'), url(./fonts/PlayfairDisplay-Regular.ttf) format('tff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

/* font-family: 'Playfair Display', serif; */
body,html {
  height: 100%;
  background-color: #17242A !important;
  font-family: 'Playfair Display', serif;
  margin-bottom: 500px !important;
}



